# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*


# Streamlit & cache
.streamlit/


# Local data artifacts
catalog/ata_catalog.json
catalog/model/
!catalog/model/.gitkeep


data_store/
!data_store/.gitkeep


# OS
.DS_Store
Thumbs.db
